<div id="main">
  <div class="page_wrapper">
    <h1 class="quote">The secret of getting ahead is getting started.</h1>
  </div>
  <%= image_tag 'branding01.jpg', class: "img-responsive image01" %>
</div>
