<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Aspire New Braunfels</h1>
          <h6>Study Breaks was born out of a desire to provide talented student writers with a medium to publish their work, but has since expanded its goal to empowering college students of all backgrounds. Whether it’s by publishing their writing and photography, or by providing them with exposure in interviews and features, Study Breaks is designed to highlight remarkable students across the country.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_02.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_08.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_branding_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
