<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Aspire New Braunfels</h1>
          <h6>Gillian Amaro, M.Ed, SLP has been running her practice out of New Braunfels, TX for just over 3 years. She has been helping her clients with everything from child therapy to marriage counseling. She is a small business and needed to obtain all types of clients, so we took a simple and clean design approach with bright healing colors. We did simple navigation buttons to allow the design to flow from page to page without hesitation.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_02.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/aspirepage_08.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_branding_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
