<div class="container">
  <div id="main">
    <div class="page_wrapper">
      <div class="col-md-6">
        <%= image_tag("austincvr.jpg", class: "img-responsive work") %>
      </div>
      <div class="col-md-6">
        <%= image_tag("editor.jpg", class: "img-responsive work") %>
      </div>
      <div class="col-md-6">
        <%= image_tag("toc.jpg", class: "img-responsive work") %>
      </div>

      <div class="col-md-6">
        <%= image_tag("prez.jpg", class: "img-responsive work") %>
      </div>

    </div>
  </div>
</div>
