/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import 'bootstrap';

//Predefined Color Swatch
$charcoal: #282828;
$blue: #01abaa;
$peach: #fea680;
$gold: #c6980b;
$grey: #ededed;

// Body
html, body{
  font-family: 'Chathura', sans-serif !important;
}

a:-webkit-any-link{
  color: $charcoal;
}

a:-webkit-any-link:hover{
  text-decoration: none;
  background-color: transparent;
}

a:hover{
  text-decoration: none !important;
  background-color: transparent !important;
}

p{
  font-size: 1.25em;
  line-height: 125%;
  letter-spacing: .5px;
}

h6{
  font-size: 2em;
}

.navbar_links{
  font-family: 'Chathura', sans-serif !important;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.blog_posts{
  background-color: $grey;
  width: 100%;
  padding: 25px;
  margin: 15px 0px 15px 0px;
}

.blog_posts h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5em;
  margin-bottom: 45px;
}

.pull-right{
  margin-right: 15px;
}

.next{
  text-transform: uppercase;
  letter-spacing: 5px;
}

.next:hover{
  background-color: white;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /*Charcoal*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 120px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 16px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $grey;
    display: block;
    transition: 0.3s;
    font-size: 2.5em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    font-weight: 800;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 5;
    margin: 0;
    font-size: 48px;
}

.closebtn:hover img{
  background-color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.page_wrapper{
  margin-top: 75px;
  margin-left: 0px;
}

.bg{
  width: 100%;
  background-color: #f1f2f2;
  margin: 0;
  padding-right: 20px;
  bottom: 0;
}

.enlarge:hover {
  width: 1000px;
}

.hover_img{
  background-color: $charcoal;
}

.hover_img:hover{
  opacity: .2;
  background-color: $charcoal;
}

.fourth{
  padding-top: 15px;
}

.fourth:hover,
.fourth:hover h1{
  background-color: $charcoal;
  color: $gold;
}

.fourth_quote{
  font-size: 3em;
  line-height: .6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $charcoal;
  font-weight: 500;
  border-bottom: 1px solid $charcoal;
}

.quote{
  font-size: 10em;
  line-height: .6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $charcoal;
  padding-right: 75px;
  font-weight: 500;
  margin-bottom: 150px;
}

.blog_post_headline{
  font-size: 10em;
  line-height: .6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $charcoal;
  padding-right: 75px;
  font-weight: 500;
}

.action_quote{
  font-size: 7em;
  line-height: .6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $charcoal;
  padding-right: 75px;
  font-weight: 800;
  margin-bottom: 150px;
  padding-left: 25px;
  vertical-align: middle;
}

.open{
  font-weight: 800;
  font-size: 20em;
  width: 50px;
  height: 50px;
  color: $charcoal;
  left: 0;
  top: -125px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.post_header{
  font-size: 8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form_header{
  font-size: 5em;
  font-weight: 300;
  letter-spacing: 3px;
}

.form_box{
  width: 100%;
  height: 75px;
  border: none;
  background-color: $gold;
  font-size: 4em;
  font-weight: 400;
  color: $charcoal;
  line-height: 80%;
  padding-left: 25px;
}

.form_box_body{
  height: 250px;
  padding-top: 50px;
}

.form_box:focus{
  outline: none;
  font-size: 4em;
  font-weight: 400;
  padding-left: 25px;
  color: $peach;
  background-color: $charcoal;
}

select, input[type="color" i][list]{
  height: 75px;
  width: 17%;
  font-size: 2em;
  border: none;
  background-color: $gold;
  border-radius: none;
  margin-right: 15px;
}

#post_date_1i{
  font-family: 'Chathura', sans-serif;
}

input[type="hidden" i], input[type="image" i], input[type="file" i]{
  height: 75px;
  width: 50%;
  background-color: $gold;
  border: none;
  padding-top: 25px;
  padding-left: 25px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i]{
  height: 150px;
  width: 50%;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: $charcoal;
  color: $peach;
  border: none;
  margin-top: 50px;
}

input[type="submit" i]:hover{
  background-color: white;
  color: $charcoal;
}

.define_intro{
  border-bottom: 3px solid $gold;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.define_intro a:hover{
  text-decoration: none;
  background-color: white;
}

.define{
  margin-top: -2px;
  margin-bottom: 35px;
  font-weight: 700;
}

.work_header{
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.work{
  width: 100%;
  margin-top: 25px;
  padding: 0;
}

.line{
  background-color: white;
  height: 3px;
  width: 50%;
  margin-left: 35px;
  margin-bottom: 10px;
  opacity: .2;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.footer{
  text-align: center;
  background-color: $grey;
  width: 100%;
  bottom: 0;
  padding: 25px 0 25px 0;
  margin: 50px 0 0 0;
  text-transform: uppercase;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 580px) {
    .quote{
      display: none;
    }

    .img{
      width: auto;
      height: 250px;
    }

    .open{
      font-weight: 800;
      font-size: 5em;
      color: $charcoal;
      left: 5px;
      top: 10px;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    html, body {
      height: 100%;
      width: 100%;
    }

    .blok1 {
      height: 100%;
      background-image: url("https://s3.amazonaws.com/glassbeard/logo0001.jpg");
      background-position: center center;
      background-size: cover;
    }

    .small{
      display: none;
    }

    .collapse{
      text-align: center;
    }

    .collapse ul li h1{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 2em;
      font-family: 'Chathura', sans-serif;
    }

    .logo_small{
      margin-bottom: 25px;
    }

}

@media screen and (min-width: 580px) {
  .large_screen{
    display:none;
  }
}

@media screen and (max-width: 1000px) {
  .fourth{
    width: 70%;
    padding-top: 15px;
    display: inline-grid;
  }

  .navbar-fixed-bottom{
    position: relative;
  }

  .bg{
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .fourth_quote{
    font-size: 3em;
    line-height: .6em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $charcoal;
    font-weight: 500;
  }
}
