<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <% Post.where(category_id: @category_id).each do |post| %>
    <li><%= post.name %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
